@model List<ArticuloItemBag>

@{
    int total = Model != null ? Model.Count : 0;
}

<li class="dropdown-header clearfix" data-count="@total">
    <strong>Artículos</strong>
    @if (total > 0)
    {
        <a class="clear" href="javascript:;">Borrar todo</a>
    }
</li>
@if (Model != null && Model.Count > 0)
{
    <li>
        <ul class="media-list scroller" style="max-height:250px;">
            @foreach (var item in Model)
            {
                <li class="media" data-id="@item.IdArticulo">
                    <a href="javascript:;">
                        <div class="media-left"><i class="fa fa-file-o fa-3x"></i></div>
                        <div class="media-body">
                            <h6 class="media-heading">@item.Nombre</h6>
                            <div>
                                <div class="price">Precio Unitario: @item.Moneda @item.Precio.ToString("#,0.00")</div>
                                <div class="unit">Cantidad: @item.Cantidad @item.UM_Nombre</div>
                            </div>
                        </div>
                    </a>
                    <b class="media-delete">&times;</b>
                </li>
            }
        </ul>
    </li>
    <li class="dropdown-footer text-center">
        <a href="javascript:;">Ir a cotizar</a>
    </li>
}
else
{
    <li class="empty-list text-center">
        <i class="fa fa-opencart fa-5x"></i><br /><br />
        No se han agregado artículos al carrito
    </li>
}